.info{
  padding-top: 110px;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    @media(max-width:1024px){
      flex-direction: column;
    }
    &__text{
      color:$gray;
      max-width: 46%;
      @media(max-width:1024px){
        max-width: 100%;
      }
      &-title{
        font-weight: $bold;
        color:$base-color;
        font-size: $large;
        line-height: $large-height;
        margin-bottom: 60px;
        @media(max-width:768px){
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      &-description{
        font-weight: 400;
        font-size: $description-font;
        line-height: $description-height;
        @media(max-width:1024px){
          margin-bottom: 60px;
        }
      }
    }
  }
}
.help{
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-bottom: 100px;
  &-wrapper{
    display: flex;
    justify-content: space-around;
    @media (max-width:768px) {
      height: 49px;
    }
    &__text{
      font-size: $description-font;
      line-height: $description-height;
      max-width: 440px;
      @media(max-width:768px){
        font-size: 9px;
        line-height: 11px;
        max-width: 45%;
      }
    }
  }
}
.question{
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-bottom: 200px;
  &-wrapper{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    &__title{
      font-size: 30px;
      line-height: 40px;
      color:$base-color;
      font-weight: $medium;
      margin-bottom: 80px;
      @media(max-width:768px){
        font-size:  13px;
        line-height: 14px;
        margin-bottom: 20px;
      }
      &-success{
        max-width: 545px;
        text-align: center;
        margin-bottom: 0;
        margin: 0 auto;
      }
    }
    &__form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 551px;
      @media(max-width:768px){
        max-width: 280px;
      }
      & textarea{
        resize:none;
        margin-bottom: 70px;
        width: 100%;
        padding: 17px 23px;
        font-size: $description-font;
        line-height: $description-height;
        font-weight: 400;
        border: 2px solid #A9A8A8;
        @media (max-width:768px) {
          font-size: 12px;
          line-height: 14px;
          padding: 5px 10px;
          margin-bottom: 30px;
        }
        &::placeholder{
          color: $light-gray;
        }
      }
      & input{
        margin-bottom: 21px;
        border: 2px solid #A9A8A8;
        padding: 17px 23px;
        font-size: $description-font;
        line-height: $description-height;
        font-weight: 400;
        width: 100%;
        color:$light-gray;
        @media (max-width:768px) {
          font-size: 12px;
          line-height: 14px;
          padding: 5px 10px;
        }
        &::placeholder{
          color: $light-gray;
        }
      }
      & button{
        background-color: $base-color;
        color: $white;
        font-size: $description-font;
        line-height: 30px;
        padding: 11px 0;
        width: 100%;
        max-width: 179px;
        border:none;
        transition: 0.5s;
        margin-bottom: 44px;
        @media (max-width:768px) {
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 30px;
        }
        &:hover{
          background-color: $gray;
        }
      }
    }
    &__attention{
      max-width: 551px;
      color: $black;
      font-size: 18px;
      line-height: $description-height;
      @media(max-width:768px){
        font-size: 11px;
        line-height: 13px;
      }
      &-link{
        color:$base-color;
        transition: .5s;
        cursor: pointer;
        &:hover{
          color: $gray;
        }
      }
    }
  }
}
@media(max-width:768px){
  .info{
    padding-bottom: 70px;
  }
}